.gt14{
	background-color: darkviolet;
	color: yellow;
}
.bt09_1{
	background-color:hotpink;
}
.bt1_12{
	background-color:orange;
}

.bt12_14{
	background-color:red;
}
.bt08_09{
	background-color:yellow;
}
.bt07_08{
	background-color:#00B7EE;
}
.bt06_07{
	background-color:#0066BB;
	color: yellow;
}
.bt01_06{
	background-color:#1144EB;
	color: yellow;
}
.null{
	background-color:#666666;
}
.bt1{
	background-color:#FF00FF;
}
.bt2{
	background-color:#009CEB;
}
.in_no{
	background-color: #00FF00;
}
.is_null{
	background-color: #000000;
	color: yellow;
} 
