<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itjm.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.itjm.domain.Product" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="productNum" property="productnum" jdbcType="VARCHAR" />
    <result column="productName" property="productname" jdbcType="VARCHAR" />
    <result column="cityName" property="cityname" jdbcType="VARCHAR" />
    <result column="departureTime" property="departuretime" jdbcType="TIMESTAMP" />
    <result column="productPrice" property="productprice" jdbcType="DECIMAL" />
    <result column="productDesc" property="productdesc" jdbcType="VARCHAR" />
    <result column="productStatus" property="productstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, productNum, productName, cityName, departureTime, productPrice, productDesc, 
    productStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from t_product
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.itjm.domain.Product" >
    insert into t_product (id, productNum, productName, 
      cityName, departureTime, productPrice, 
      productDesc, productStatus)
    values (#{id,jdbcType=VARCHAR}, #{productnum,jdbcType=VARCHAR}, #{productname,jdbcType=VARCHAR}, 
      #{cityname,jdbcType=VARCHAR}, #{departuretime,jdbcType=TIMESTAMP}, #{productprice,jdbcType=DECIMAL}, 
      #{productdesc,jdbcType=VARCHAR}, #{productstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.itjm.domain.Product" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productnum != null" >
        productNum,
      </if>
      <if test="productname != null" >
        productName,
      </if>
      <if test="cityname != null" >
        cityName,
      </if>
      <if test="departuretime != null" >
        departureTime,
      </if>
      <if test="productprice != null" >
        productPrice,
      </if>
      <if test="productdesc != null" >
        productDesc,
      </if>
      <if test="productstatus != null" >
        productStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productnum != null" >
        #{productnum,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="departuretime != null" >
        #{departuretime,jdbcType=TIMESTAMP},
      </if>
      <if test="productprice != null" >
        #{productprice,jdbcType=DECIMAL},
      </if>
      <if test="productdesc != null" >
        #{productdesc,jdbcType=VARCHAR},
      </if>
      <if test="productstatus != null" >
        #{productstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itjm.domain.Product" >
    update t_product
    <set >
      <if test="productnum != null" >
        productNum = #{productnum,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        productName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        cityName = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="departuretime != null" >
        departureTime = #{departuretime,jdbcType=TIMESTAMP},
      </if>
      <if test="productprice != null" >
        productPrice = #{productprice,jdbcType=DECIMAL},
      </if>
      <if test="productdesc != null" >
        productDesc = #{productdesc,jdbcType=VARCHAR},
      </if>
      <if test="productstatus != null" >
        productStatus = #{productstatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itjm.domain.Product" >
    update t_product
    set productNum = #{productnum,jdbcType=VARCHAR},
      productName = #{productname,jdbcType=VARCHAR},
      cityName = #{cityname,jdbcType=VARCHAR},
      departureTime = #{departuretime,jdbcType=TIMESTAMP},
      productPrice = #{productprice,jdbcType=DECIMAL},
      productDesc = #{productdesc,jdbcType=VARCHAR},
      productStatus = #{productstatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>